@model BlogSite.Models.BlogPostViewModels.EditBlogPostViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>BlogPost</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.BlogPost.ID" />
        <input type="hidden" asp-for=" @Model.BlogPost.ApplicationUserId"/>
        <div class="form-group">
            <label asp-for="@Model.BlogPost.Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.BlogPost.Title" class="form-control" />
                <span asp-validation-for="@Model.BlogPost.Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.BlogPost.Article" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="@Model.BlogPost.Article"  rows="5" cols="250"></textarea>
                <span asp-validation-for="@Model.BlogPost.Article" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.BlogPost.PostCategories)</td>
                </tr>
                <tr>
                    @{
                        int cnt = 0;
                        foreach (var modelBlogCategory in Model.PostCategoryViewModels)
                        {
                            if (cnt++ % 2 == 0)
                            {
                                @:
                            <tr></tr>
                            }
                            @:
                            <td><input type="checkbox" name="selectedCategories" checked="@modelBlogCategory.IsChecked" value="@modelBlogCategory.BlogCategory.ID" />@modelBlogCategory.BlogCategory.Name</td>
                        }
                    }
                    </tr>
                </table>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
